@import "tailwindcss";

@theme {
  --animate-marquee-vertical: marquee-vertical 30s linear infinite;
  --animate-marquee-vertical-slow: marquee-vertical 40s linear infinite;
  --animate-marquee-vertical-fast: marquee-vertical 25s linear infinite;

  @keyframes marquee-vertical {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(-50%);
    }
  }
}

.marquee-track:hover {
  animation-play-state: paused;
}

@layer utilities {
  .animate-vibrate {
    animation: vibrate 5s cubic-bezier(.36,.07,.19,.97) infinite;
  }
}

@keyframes vibrate {
  0%, 80%, 100% {
    transform: translate3d(0, 0, 0) scale(1);
  }
  85%, 95% {
    transform: translate3d(-2px, 0, 0) scale(1.02);
  }
  90% {
    transform: translate3d(2px, 0, 0) scale(1.02);
  }
}
